.google-search .field {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.google-search button {
  margin-bottom: 32px;
}

.gsc-control-cse {
  padding: 0 !important;
  margin-bottom: 32px !important;
}