<div class="footer">
  <div class="footer__inner">
    {% container "80_80_80_80_80", "", "centered" %}
      <footer>
        <p class="footer__copyright">
          Written by Abdullah Yahya in <a class="secondary__link" href="https://www.google.com/maps/place/Silicon+Valley,+CA/@37.6426962,-122.3576573,10z/data=!4m5!3m4!1s0x808fb68ad0cfc739:0x7eb356b66bd4b50e!8m2!3d37.387474!4d-122.0575434?shorturl=1" target="_blank" rel="noopener">Silicon Valley, California</a>
        </p>
      </footer>
    {% end_container %}
  </div>
</div>