{% if pagination.pageLinks.length > 1 %}
  <div class="pagination">
    <nav aria-label="Pagination">
      <div class="pagination__inner">
        <ul class="list-reset responsive pagination__list">

          {% if pagination.href.previous %}
            <li class="pagination__item pagination__item--prev">
              <a href="{{ pagination.href.previous }}" class="pagination__link pagination__link--prev">
                {% pictureSvgPng "img/icons/arrow-left.svg", "", "18", "15" %}
              </a>
            </li>
          {% endif %}

          {% if pagination.pageLinks.length < 5 %}
            {% for href in pagination.hrefs %}
              <li class="pagination__item">
                <a class="pagination__link {% if page.url == href %} pagination__link--current {% endif %}" href="{{ href }}">
                  {{ loop.index }} 
                </a>
              </li>
            {% endfor %}
          {% else %}

            {% if pagination.href.first and pagination.href.first !== page.url %}
              <li class="pagination__item">
                <a href="{{ pagination.href.first }}" class="pagination__link">
                  1
                </a>
              </li>
            {% endif %}

            {% if pagination.pageNumber > 2 %}
              <li class="pagination__item">
                <a class="pagination__link">
                  ...
                </a>
              </li>
            {% endif %}

            {% if pagination.href.previous and pagination.href.previous !== pagination.href.first %}
              <li class="pagination__item">
                <a href="{{ pagination.href.previous }}" class="pagination__link">
                  {{ pagination.pageNumber }}
                </a>
              </li>
            {% endif %}

            <li class="pagination__item">
              <a class="pagination__link pagination__link--current">
                {{ pagination.pageNumber + 1 }}
              </a>
            </li>

            {% if pagination.href.next and pagination.href.next !== pagination.href.last %}
              <li class="pagination__item">
                <a href="{{ pagination.href.next }}" class="pagination__link">
                  {{ pagination.pageNumber + 2 }}
                </a>
              </li>
            {% endif %}

              {% set lastPageNumber = pagination.href.last | parseNum %}

              {% if lastPageNumber - pagination.pageNumber - 1 > 2 %}
              <li class="pagination__item">
                <a class="pagination__link">
                  ...
                </a>
              </li>
            {% endif %}

            {% if pagination.href.last and pagination.href.last !== page.url %}
              <li class="pagination__item">
                <a href="{{ pagination.href.last }}" class="pagination__link">
                  {{ pagination.pageLinks.length }}
                </a>
              </li>
            {% endif %}
            
          {% endif %}

          {% if pagination.href.next %}
            <li class="pagination__item pagination__item--next">
              <a href="{{ pagination.href.next }}" class="pagination__link pagination__link--next">
                {% pictureSvgPng "img/icons/arrow-right.svg", "", "18", "15" %}
              </a>
            </li>
          {% endif %}

        </ul>
      </div>
    </nav>
  </div>
{% endif %}