<li class="post">
  <div class="post__block">
    <div class="spacer-40"></div>
    <article>
      <header>
        {% responsive %}
          {% container "80_80_80_80_80", "", "centered" %}
            <h3 class="h1">
              <a href="/{{ post.slug }}/">
              {{ post.title.rendered | safe }}
              </a>
            </h3>
          {% end_container %}
        {% endresponsive %}
      </header>

      <footer>
        <div class="post__info" dir="ltr">
          {% responsive %}
            {% container "80_80_80_80_80", "", "centered" %}
              {% responsive "ul", "tags list-reset" %}
                {% responsive "li", "tag" %}
                  {% pictureSvgPng "img/icons/calendar.svg", "Posted on: ", "20", "16" %}
                  <a class="secondary__link" href="/{{ post.slug }}/">
                    <time>{{ post.date }}</time>
                  </a>
                {% endresponsive %}
                {% if post.categories.length > 0 %}
                {% responsive "li", "tag" %}
                  {% pictureSvgPng "img/icons/user.svg", "Author on: ", "20", "16" %}
                  <a class="secondary__link" href="/author/{{ post.authors[0].slug }}/">
                    {{ post.authors[0].name }}
                  </a>
                {% endresponsive %}
                {% endif %}
                {% if post.categories.length > 0 %}
                {% responsive "li", "tag" %}
                  {% pictureSvgPng "img/icons/folder.svg", "Categories on: ", "20", "16" %}
                  {% responsive "ul", "list-reset responsive" %}
                    {% for category in post.categories %}
                      <li{%if loop.last%} class="last" {% endif %}>
                      <a class="secondary__link" href="/category/{{ category.slug }}/">
                        {{ category.name }}{%if loop.last%}{% else %},{% endif %}
                      </a>
                      </li>
                    {% endfor %}
                  {% endresponsive %}
                {% endresponsive %}
                {% endif %}
              {% endresponsive %}
            {% end_container %}
          {% endresponsive %}
        </div>
      </footer>
      {% responsive %}
        {% container "80_80_80_80_80", "", "centered" %}
          {% if post.jetpack_featured_media_url %}
          <div class="spacer-32"></div>
          <a href="/{{ post.slug }}/">
          <img src="{{ post.jetpack_featured_media_url }}" alt="{{ post.title.rendered }}">
          </a>
          <div class="spacer-40"></div>
          {% endif %}
        {% end_container %}
      {% endresponsive %}
    </article>
  </div>
</li>