<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script async src="https://cse.google.com/cse.js?cx=3ab88e4dc8378ee4d"></script>
  <!-- Menu -->
  <link rel="stylesheet" href="/css/index.css">

  {% include 'partials/js-detect.njk' %}
</head>
<body>
  {% max_width %}
  {% responsive %}
    {% container "100_100_29_29_29" %}
      {% include 'partials/aside.njk' %}
    {% end_container %}
    {% container "85_85_71_71_71", "", "main" %}
      {% responsive %}
        {% container "100_100_83_83_83", "", "centered" %}
        <main>
          <div class="post">
            <div class="post__block">
              <div class="spacer-40"></div>
              <div class="post__content">
                {% responsive %}
                  {% container "80_80_80_80_80", "", "centered" %}
                    <h1>{{ title }}</h1>
                    {# OLD SEARCH #}
                    {# <form class="google-search" id="google-search">
                      {% responsive %}
                          <label class="visually-hidden" for="google-search-field">
                            search
                          </label>
                          <input class="field" type="search" id="google-search-field" name="google-search-field" require="">
                          <button class="primary-button" type="submit">Search</button>
                          <div class="spacer-24"></div>
                      {% endresponsive %}
                    </form> #}
                    {# NEW SEARCH #}
                    <script async src="https://cse.google.com/cse.js?cx=53c0f4c78ca9e4315">
                    </script>
                    <div class="gcse-search"></div>
                    {% include 'partials/share-block.njk' %}
                  {% end_container %}
                {% endresponsive %}
              </div>
            </div>
          </div>
        </main>
        {% include 'partials/footer.njk' %}
        {% end_container %}
      {% endresponsive %}
    {% end_container %}
  {% endresponsive %}
  {% end_max_width %}
  <script src="/js/index.js"></script>
  {# <script src="/js/google-search.js"></script> #}
</body>
</html>