<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <title>{{ single_page.title.rendered }}</title>
  <meta name="description" content="{{ single_page.description }}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">

  {% include 'partials/js-detect.njk' %}
</head>
<body>
  {% max_width %}
  {% responsive %}
    {% container "100_100_29_29_29" %}
      {% include 'partials/aside-2.njk' %}
    {% end_container %}
    {% container "85_85_71_71_71", "", "main" %}
      {% responsive %}
        {% container "100_100_83_83_83", "", "centered" %}
        <main>
          <div class="post">
            <div class="post__block">
              <div class="spacer-40"></div>
              {% responsive %}
                {% container "80_80_80_80_80", "", "centered" %}
                  <h3 class="h1">
                    {{ single_page.title.rendered }}
                  </h3>
                {% end_container %}
              {% endresponsive %}
              <div class="post__content">
                {% responsive %}
                  {% container "80_80_80_80_80", "", "centered" %}
                    {{ single_page.content.rendered | safe }}
                  {% end_container %}
                  {% container "80_80_80_80_80", "", "centered" %}
                    {% include 'partials/share-block.njk' %}
                  {% end_container %}
                {% endresponsive %}
              </div>
            </div>
          </div>
        </main>
        {% include 'partials/footer.njk' %}
        {% end_container %}
      {% endresponsive %}
    {% end_container %}
  {% endresponsive %}
  {% end_max_width %}
  <script src="/js/index.js"></script>
</body>
</html>